// src/styles/ManageCosplayer.scss

// Styles cho ManageCosplayer
.manage-cosplayer-container {
  padding: 20px;

  .manage-cosplayer-title {
    margin-bottom: 20px;
    color: #1a1a1a;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  .header-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10vh;

    .rows-per-page {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .search-bar {
      width: 300px;
      margin: 0 auto;
    }

     
  }
}

// Styles cho CosplayerList
.cosplayer-table-card {
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 90%;

  .table-header {
    background-color: #f3f7fa;
    th {
      font-weight: 600;
    }
  }

  .table {
    tbody {
      tr {
        transition: background-color 0.3s ease; // Thêm hiệu ứng chuyển màu mượt mà

        &:hover {
          background-color: #e9ecef; // Màu nền khi hover
          cursor: pointer; // Thêm con trỏ chuột để người dùng biết hàng có thể tương tác
        }
      }
    }
  }

  .pagination-controls {
    padding-top: 10px;
    display: flex;
    justify-content: center; // Căn giữa theo chiều ngang
    align-items: center; // Căn giữa theo chiều dọc
    width: 100%; // Đảm bảo chiếm toàn bộ chiều rộng để căn giữa chính xác

    .pagination {
      margin: 0; // Loại bỏ margin mặc định của pagination để căn giữa chính xác
    }
  }
}